/* PageFly Element Styles */
						.fKltnh__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.fKltnh { padding: 15px 0px; position: relative; }
.fKltnh .sc-drMfKT { position: relative; }
.fKltnh[data-container="true"] .sc-drMfKT { padding: 0px 15px; width: 100%; margin: auto; }
.fKltnh .pf-parallax__img { text-indent: -10000px; position: absolute; object-fit: cover; top: 0px; left: 0px; width: 100%; height: 100%; }
.bthysn { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .bthysn { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .bthysn { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .bthysn { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.cZcEAd { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .cZcEAd { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cZcEAd { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .cZcEAd { padding: var(--pf-s-xs); }
}
.gbyClD { position: relative; }
.ljIkgU { position: relative; overflow: hidden; display: inline-flex; -webkit-box-pack: start; justify-content: flex-start; align-items: flex-start; max-width: 100%; vertical-align: middle; }
.ljIkgU img { display: inline-block; object-fit: cover; height: auto; width: 100%; }
.iSrdJR { word-break: break-word; }
.iSrdJR span { font-weight: inherit; }
.iSrdJR i { margin-right: 0.3em; }
.lepPmi { display: inline-block; }
.lepPmi[contenteditable="true"] { user-select: text; }
.lepPmi { vertical-align: baseline; word-break: break-word; }
.lepPmi:focus { outline: none; }
.lepPmi::after { display: inline; }
.gUXmVf > span:last-child { line-height: inherit; display: block; margin-right: 0px !important; }
#editor-dnd-wrapper .gUXmVf span + span[contenteditable] { display: block; }
#editor-dnd-wrapper .gUXmVf span + span[contenteditable]:empty::after { display: inline; }
.gUXmVf ol, .gUXmVf ul { list-style-position: inside; }
.gUXmVf blockquote { font-size: inherit; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-790dd3c2 {
		background-image: url("https://cdn.shopify.com/s/files/1/0857/4434/t/82/assets/pf-44c151b7-6209-4918-a26f-bde3c6083390--faq.jpg?v=1577253329");
		 padding-top: 170px;
		 padding-bottom: 170px;
		 background-position: 50% 50%;
		 background-size: cover;
		 background-repeat: no-repeat;
	}
	.__pf .pf-6862ad40 {
		width: 100%;
		 height: auto;
	}
	.__pf .pf-7d09f8b6 {
		padding: 0px;
		 margin: 0px;
	}
	.__pf .pf-95013d28 {
		padding-top: 0px;
	}
	.__pf .pf-7b0cac39 {
		font-size: 26px;
	}
	.__pf .pf-3ca9cca1 {
		min-height: 1px;
		 border-style: none;
	}
	.__pf .pf-0376d0b6 {
		font-size: 26px;
	}
	.__pf .pf-91a5b244 {
		font-size: 26px;
	}
	.__pf .pf-cc87df93 {
		font-size: 16px;
	}
	.__pf .pf-44c032c0 {
		font-size: 26px;
	}
	.__pf .pf-35d8e228 {
		border-style: none;
	}
}
@media only screen and (max-width: 767px) {
	.__pf .pf-790dd3c2 {
		background-image: url("https://cdn.shopify.com/s/files/1/0857/4434/t/82/assets/pf-44c151b7-6209-4918-a26f-bde3c6083390--faq.jpg?v=1577253329");
	}
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.__pf .pf-790dd3c2 {
		background-image: url("https://cdn.shopify.com/s/files/1/0857/4434/t/82/assets/pf-44c151b7-6209-4918-a26f-bde3c6083390--faq.jpg?v=1577253329");
	}
	.__pf .pf-7b0cac39 {
		font-size: 20px;
	}
	.__pf .pf-0376d0b6 {
		font-size: 20px;
	}
	.__pf .pf-91a5b244 {
		font-size: 20px;
	}
	.__pf .pf-44c032c0 {
		font-size: 20px;
	}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.__pf .pf-790dd3c2 {
		background-image: url("https://cdn.shopify.com/s/files/1/0857/4434/t/82/assets/pf-44c151b7-6209-4918-a26f-bde3c6083390--faq.jpg?v=1577253329");
	}
}
						/* Extra CSS for lazy loading background image */
						.pf-bg-lazy { background-image: none !important; }

 .main-content { padding-top: 0; }