/* PageFly Element Styles */
						.lcHmGL { word-break: break-word; }
.lcHmGL span { font-weight: inherit; text-decoration: inherit; }
.lcHmGL i { margin-right: 0.3em; }
.fLDHlO { position: relative; overflow: hidden; display: inline-flex; justify-content: flex-start; align-items: flex-start; max-width: 100%; vertical-align: middle; }
.fLDHlO img { display: inline-block; object-fit: cover; height: auto; width: 100%; }
.jklmHY { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .jklmHY { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .jklmHY { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .jklmHY { padding: var(--pf-s-xs); }
}
.fTyjzF { position: relative; }
.eYzxUD { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.bjKdkd__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.bjKdkd { padding: 15px 0px; position: relative; }
.cbrLgP > span:last-child { line-height: inherit; display: block; margin-right: 0px !important; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable] { display: block; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable]:empty::after { display: inline; }
.cbrLgP ol, .cbrLgP ul { list-style-position: inside; }
.cbrLgP blockquote { font-size: inherit; }
.fnmilh { display: inline-block; }
.fnmilh[contenteditable="true"] { user-select: text; }
.fnmilh { vertical-align: baseline; word-break: break-word; }
.fnmilh:focus { outline: none; }
.fnmilh::after { display: inline; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-d93b39fd {
		text-align: center;
	}
	.__pf .pf-cc58df66 {
		padding-bottom: 0px;
		 display: flex;
		 margin-bottom: 50px;
	}
	.__pf .pf-c166ab24 {
		width: 1000px;
		 height: auto;
	}
	.__pf .pf-351d49bf {
		font-size: 20px;
	}
	.__pf .pf-05b5d42d {
		padding: 8%;
	}
	.__pf .pf-7a9c6103 {
		padding: 7%;
	}
	.__pf .pf-84d12d60 {
		margin-top: 30px;
	}
	.__pf .pf-c9c603a3 {
		font-size: 20px;
		 text-align: center;
		 font-style: italic;
	}
	.__pf .pf-2070d9c7 {
		margin-top: 30px;
	}
	.__pf .pf-750553c8 {
		font-size: 20px;
		 font-family: Comfortaa;
	}
	.__pf .pf-c1bae1d7 {
		padding: 7%;
	}
	.__pf .pf-6d37a507 {
		margin-right: 0px;
		 margin-left: 0px;
		 margin-bottom: 0px;
	}
	.__pf .pf-707c0da6 {
		width: 1000px;
		 height: auto;
	}
	.__pf .pf-aaf6f153 {
		font-size: 20px;
	}
	.__pf .pf-9d097fa2 {
		padding: 7%;
	}
	.__pf .pf-7a6c0494 {
		padding-top: 30px;
	}
	.__pf .pf-7c0b1d81 {
		padding-top: 0px;
	}
	.__pf .pf-74a4b1eb {
		text-align: left;
	}
	.__pf .pf-1b400ff1 {
		width: 1000px;
		 height: auto;
	}
	.__pf .pf-0ff13fb7 {
		padding: 7%;
	}
	.__pf .pf-c27dee76 {
		width: 1000px;
		 height: auto;
	}
	.__pf .pf-ee76a80a {
		padding: 7%;
	}
	.__pf .pf-65d55ab0 {
		width: 1000px;
		 height: auto;
	}
	.__pf .pf-5ab06313 {
		padding: 7%;
	}
}
@media only screen and (max-width: 767px) {
	.__pf .pf-05b5d42d {
		padding: 7%;
	}
	.__pf .pf-84d12d60 {
		display: inline-block;
	}
	.__pf .pf-2070d9c7 {
		display: inline-block;
	}
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.__pf .pf-d93b39fd {
		text-align: center;
		 font-size: 19px;
	}
	.__pf .pf-84967fe7 {
		text-align: center;
	}
	.__pf .pf-351d49bf {
		font-size: 19px;
	}
	.__pf .pf-84d12d60 {
		display: flex;
		 flex-flow: column wrap;
	}
	.__pf .pf-2070d9c7 {
		display: flex;
		 flex-flow: column wrap;
	}
	.__pf .pf-750553c8 {
		font-size: 19px;
	}
	.__pf .pf-aaf6f153 {
		font-size: 19px;
	}
	.__pf .pf-c9c603a3 {
		font-size: 19px;
	}
}
						