{% style %}

  .yotpo-logo-title,.yotpo-reviews-carousel .yotpo-label {
    display:none;
  }


  .yotpo-modal-logo{
    visibility:hidden;
  }

  .yotpo-logo-link-new{
    border-bottom: transparent!important;
  }
.yotpo-reviews-carousel{
  max-width:1360px !important;
  padding:0 2rem;
  overflow: hidden;
  margin:auto;
}
{% endstyle %}
<div class="yotpo yotpo-reviews-carousel" 
  data-header-customisation-enabled="1" 
  data-header-customisation-color="#56575f" 
  data-header-customisation-font-size="22" 
  data-header-customisation-text="customer reviews" 
  data-header-customisation-alignment="left" 
  data-background-color="transparent" 
  data-mode="manual" 
  data-type="both" data-review-ids="310656488,322387021,179299547,323617656,238201708,320064962,219286885,100610587" 
  data-show-bottomline="1" data-autoplay-enabled="1" data-autoplay-speed="3000" data-show-navigation="1"> </div>



{% schema %}
{
"presets": [
      {
        "name": "reviews carousel",
        "category": "Image"
      }
    ]
}
{% endschema %}

