<div class="faves_container">
    <div class="curated-fav">
        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6">
                <h2>Title</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa commodi ipsam porro architecto, veritatis aliquam! Dolor tenetur placeat alias fugit ratione maiores, expedita adipisci quibusdam asperiores! Distinctio veritatis quod itaque inventore neque quasi reprehenderit repudiandae aperiam dolorem qui soluta, ab vel doloribus quae sed placeat aliquam unde optio. Dicta modi est repudiandae mollitia assumenda, doloribus fugit distinctio vel iusto, beatae accusamus ex, esse molestiae corrupti alias consectetur perferendis dolorum? Quod, recusandae cupiditate explicabo enim porro molestias, laborum fugit alias aspernatur totam tempore blanditiis incidunt ipsam esse sunt delectus commodi atque maiores sit? Et ad consectetur cumque accusamus sapiente, corrupti alias.
                </p>
            </div>
        </div>
    </div>
</div>