<div class="ffc-page-landing ffc-page-subscription-landing">

  {% for block in section.blocks %}
    {% capture snippetName %}landing-block--{{ block.type }}{% endcapture %}
    {% assign bs = block.settings %}
    <div style="background: {{bs.bg_color}};" class="landing-block {{ snippetName }}" {{ block.shopify_attributes }}>
      {% include snippetName %}
    </div>
  {% endfor %}
       
</div>

{% schema %}
  {
    "name": "Subscription Landing Page",
    "settings": [],
    "blocks": [
      {
        "type": "background-image-text",
        "name": "Background Image & Text",
        "settings": [
          {
            "type": "text",
            "id": "subtitle",
            "label": "Subheading",
            "default": "Impressive"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Large image with text box"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text"
          },
          {
            "type": "text",
            "id": "button_label",
            "label": "Button label"
          },
          {
            "type": "url",
            "id": "button_link",
            "label": "Button link"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "image_picker",
            "id": "image_mobile",
            "label": "Image Mobile"
          },
          {
            "type": "checkbox",
            "id": "image_contain",
            "label": "Keep original image ratio?",
            "default": false
          },
          {
            "type": "select",
            "id": "alignment",
            "label": "Image focal point",
            "info": "Used to keep the subject of your photo in view.",
            "default": "center",
            "options": [
              {
                "value": "top left",
                "label": "Top left"
              },
              {
                "value": "top",
                "label": "Top"
              },
              {
                "value": "top right",
                "label": "Top right"
              },
              {
                "value": "center left",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Middle"
              },
              {
                "value": "center right",
                "label": "Right"
              },
              {
                "value": "bottom left",
                "label": "Bottom left"
              },
              {
                "value": "bottom",
                "label": "Bottom"
              },
              {
                "value": "bottom right",
                "label": "Bottom right"
              }
            ]
          },
          {
            "type": "select",
            "id": "layout",
            "label": "Layout",
            "default": "left",
            "options": [
              {
                "value": "left",
                "label": "Text on left"
              },
              {
                "value": "right",
                "label": "Text on right"
              }
            ]
          },
          {
            "type": "header",
            "content": "Colors"
          },
          {
            "type": "color",
            "id": "color_text",
            "label": "Text Color",
            "default": "#ffffff"
          },
          {
            "type": "color",
            "id": "button_color_bg",
            "label": "Button Background Color",
            "default": "#ffffff"
          },
          {
            "type": "color",
            "id": "button_color",
            "label": "Button Text Color",
            "default": "#ae9cdb"
          },
          {
            "type": "color",
            "id": "background_color",
            "label": "Background Color"
          }
        ]
      },
      {
        "type": "bg_img_alt",
        "name": "Alternate text with image",
        "settings": [
          {
            "type": "text",
            "id": "heading_text_alt",
            "label": "Heading text"
          },
          {
            "type": "text",
            "id": "btn_text_alt",
            "label": "Button text"
          },
          {
            "type": "image_picker",
            "id": "img_alt",
            "label": "image"
          }
        ]
      },
      {
        "type": "subscription-product",
        "name": "Select your subscription",
        "settings": [
          {
            "type": "product",
            "id": "featured_product",
            "label": "Default Product"
          },
          {
            "type": "color",
            "id": "bg_color",
            "label": "Background Color",
            "default": "#FEFBF5"
          },
          {
            "type": "select",
            "id": "thumbnail_position",
            "label": "Thumbnail position",
            "default": "beside",
            "options": [
              {
                "value": "beside",
                "label": "Next to image"
              },
              {
                "value": "below",
                "label": "Below image"
              },
              {
                "value": "none",
                "label": "None"
              }
            ]
          },
          {
            "type": "text",
            "id": "badge_label",
            "label": "Badge Label",
            "default": "subscribe and save 15%"
          },
          {
            "type": "checkbox",
            "id": "divider",
            "label": "Show section divider",
            "default": false
          }
        ]
      },
      {
        "type": "benefits",
        "name": "Benefits",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading"
          },   
          {
            "type": "richtext",
            "id": "text",
            "label": "Text"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "header",
            "content": "Benefits"
          },
          {
            "type": "text",
            "id": "benefit_1",
            "label": "1 Benefit"
          },
          {
            "type": "text",
            "id": "benefit_2",
            "label": "2 Benefit"
          },
          {
            "type": "text",
            "id": "benefit_3",
            "label": "3 Benefit"
          },
          {
            "type": "text",
            "id": "benefit_4",
            "label": "4 Benefit"
          },
          {
            "type": "text",
            "id": "benefit_5",
            "label": "5 Benefit"
          },
          {
            "type": "text",
            "id": "benefit_6",
            "label": "6 Benefit"
          },
          {
            "type": "text",
            "id": "benefit_7",
            "label": "7 Benefit"
          },
          {
            "type": "text",
            "id": "benefit_8",
            "label": "8 Benefit"
          },
          {
            "type": "text",
            "id": "benefit_9",
            "label": "9 Benefit"
          },
          {
            "type": "text",
            "id": "benefit_10",
            "label": "10 Benefit"
          }
        ]
      },
      {
        "type": "logo-list",
        "name": "Logo List",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading"
          },   
          {
            "type": "richtext",
            "id": "text",
            "label": "Text"
          },
          {
            "type": "color",
            "id": "bg_color",
            "label": "Background Color",
            "default": "#FEFBF5"
          },
          {
            "type": "header",
            "content": "Logos"
          },
          {
            "type": "image_picker",
            "id": "logo_image_1",
            "label": "1 Image"
          },
          {
            "type": "url",
            "id": "logo_link_1",
            "label": "1 Link"
          },
          {
            "type": "image_picker",
            "id": "logo_image_2",
            "label": "2 Image"
          },
          {
            "type": "url",
            "id": "logo_link_2",

            "label": "2 Link"
          },
          {
            "type": "image_picker",
            "id": "logo_image_3",
            "label": "3 Image"
          },
          {
            "type": "url",
            "id": "logo_link_3",
            "label": "3 Link"
          },
          {
            "type": "image_picker",
            "id": "logo_image_4",
            "label": "4 Image"
          },
          {
            "type": "url",
            "id": "logo_link_4",
            "label": "4 Link"
          },
          {
            "type": "image_picker",
            "id": "logo_image_5",
            "label": "5 Image"
          },
          {
            "type": "url",
            "id": "logo_link_5",
            "label": "5 Link"
          },
          {
            "type": "image_picker",
            "id": "logo_image_6",
            "label": "6 Image"
          },
          {
            "type": "url",
            "id": "logo_link_6",
            "label": "6 Link"
          },
          {
            "type": "image_picker",
            "id": "logo_image_7",
            "label": "7 Image"
          },
          {
            "type": "url",
            "id": "logo_link_7",
            "label": "7 Link"
          },
          {
            "type": "image_picker",
            "id": "logo_image_8",
            "label": "8 Image"
          },
          {
            "type": "url",
            "id": "logo_link_8",
            "label": "8 Link"
          },
          {
            "type": "image_picker",
            "id": "logo_image_9",
            "label": "9 Image"
          },
          {
            "type": "url",
            "id": "logo_link_9",
            "label": "9 Link"
          },
          {
            "type": "image_picker",
            "id": "logo_image_10",
            "label": "10 Image"
          },
          {
            "type": "url",
            "id": "logo_link_10",
            "label": "10 Link"
          }
        ]
      },
      {
        "type": "product-promotion",
        "name": "Product Promotion",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading"
          },   
          {
            "type": "richtext",
            "id": "text",
            "label": "Text"
          },
          {
            "type": "checkbox",
            "id": "overlay_scrollbars",
            "label": "Horizontal scroll?",
            "default": true
          },
          {
            "type": "range",
            "id": "per_row",
            "label": "Products per row",
            "default": 4,
            "min": 2,
            "max": 5,
            "step": 1
          },
          {
            "type": "header",
            "content": "Products"
          },
          {
            "type": "url",
            "id": "promo_url_1",
            "label": "1 URL"
          },
          {
            "type": "text",
            "id": "promo_title_1",
            "label": "1 Title"
          },
          {
            "type": "color",
            "id": "promo_color_1",
            "label": "1 Color"
          },
          {
            "type": "image_picker",
            "id": "promo_image_1",
            "label": "1 Image"
          },
          {
            "type": "url",
            "id": "promo_url_2",
            "label": "2 URL"
          },
          {
            "type": "text",
            "id": "promo_title_2",
            "label": "2 Title"
          },
          {
            "type": "color",
            "id": "promo_color_2",
            "label": "2 Color"
          },
          {
            "type": "image_picker",
            "id": "promo_image_2",
            "label": "2 Image"
          },
          {
            "type": "url",
            "id": "promo_url_3",
            "label": "3 URL"
          },
          {
            "type": "text",
            "id": "promo_title_3",
            "label": "3 Title"
          },
          {
            "type": "color",
            "id": "promo_color_3",
            "label": "3 Color"
          },
          {
            "type": "image_picker",
            "id": "promo_image_3",
            "label": "3 Image"
          },
          {
            "type": "url",
            "id": "promo_url_4",
            "label": "4 URL"
          },
          {
            "type": "text",
            "id": "promo_title_4",
            "label": "4 Title"
          },
          {
            "type": "color",
            "id": "promo_color_4",
            "label": "4 Color"
          },
          {
            "type": "image_picker",
            "id": "promo_image_4",
            "label": "4 Image"
          },
          {
            "type": "url",
            "id": "promo_url_5",
            "label": "5 URL"
          },
          {
            "type": "text",
            "id": "promo_title_5",
            "label": "5 Title"
          },
          {
            "type": "color",
            "id": "promo_color_5",
            "label": "5 Color"
          },
          {
            "type": "image_picker",
            "id": "promo_image_5",
            "label": "5 Image"
          },
          {
            "type": "url",
            "id": "promo_url_6",
            "label": "6 URL"
          },
          {
            "type": "text",
            "id": "promo_title_6",
            "label": "6 Title"
          },
          {
            "type": "color",
            "id": "promo_color_6",
            "label": "6 Color"
          },
          {
            "type": "image_picker",
            "id": "promo_image_6",
            "label": "6 Image"
          },
          {
            "type": "url",
            "id": "promo_url_7",
            "label": "7 URL"
          },
          {
            "type": "text",
            "id": "promo_title_7",
            "label": "7 Title"
          },
          {
            "type": "color",
            "id": "promo_color_7",
            "label": "7 Color"
          },
          {
            "type": "image_picker",
            "id": "promo_image_7",
            "label": "7 Image"
          },
          {
            "type": "url",
            "id": "promo_url_8",
            "label": "8 URL"
          },
          {
            "type": "text",
            "id": "promo_title_8",
            "label": "8 Title"
          },
          {
            "type": "color",
            "id": "promo_color_8",
            "label": "8 Color"
          },
          {
            "type": "image_picker",
            "id": "promo_image_8",
            "label": "8 Image"
          },
          {
            "type": "url",
            "id": "promo_url_9",
            "label": "9 URL"
          },
          {
            "type": "text",
            "id": "promo_title_9",
            "label": "9 Title"
          },
          {
            "type": "color",
            "id": "promo_color_9",
            "label": "9 Color"
          },
          {
            "type": "image_picker",
            "id": "promo_image_9",
            "label": "9 Image"
          },
          {
            "type": "url",
            "id": "promo_url_10",
            "label": "10 URL"
          },
          {
            "type": "text",
            "id": "promo_title_10",
            "label": "10 Title"
          },
          {
            "type": "color",
            "id": "promo_color_10",
            "label": "10 Color"
          },
          {
            "type": "image_picker",
            "id": "promo_image_10",
            "label": "10 Image"
          }
        ]
      },
      {
        "type": "featured-collection",
        "name": "Featured Collection",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Featured collection"
          },
          {
            "type": "collection",
            "id": "collection",
            "label": "Collection"
          },
          {
            "type": "checkbox",
            "id": "overlay_scrollbars",
            "label": "Horizontal scroll on mobiles?",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "view_all",
            "label": "Show 'View all' link",
            "default": false
          },
          {
            "type": "checkbox",
            "id": "subscription",
            "label": "Is subscription?",
            "default": false
          }
        ]
      },
      {
        "type": "simple-header",
        "name": "Simple Header",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading"
          },   
          {
            "type": "richtext",
            "id": "text",
            "label": "Text"
          }
        ]
      },
      {
        "type": "testimonials",
        "name": "Testimonials",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "taste·monials"
          },
          {
            "type": "richtext",
            "id": "content",
            "label": "Text"
          },
          {
            "type": "range",
            "id": "rating",
            "label": "Reviews rating",
            "min": 0,
            "max": 5,
            "step": 1,
            "default": 5
          },
          {
            "type": "header",
            "content": "Testionials"
          },
          {
            "type": "richtext",
            "id": "testimonial_1",
            "label": "1 Text"
          },
          {
            "type": "text",
            "id": "author_1",
            "label": "1 Author"
          },
          {
            "type": "product",
            "id": "product_1",
            "label": "Reviewed Product"
          },
          {
            "type": "range",
            "id": "rating_1",
            "label": "Reviews rating",
            "min": 0,
            "max": 5,
            "step": 1,
            "default": 5
          },
          {
            "type": "richtext",
            "id": "testimonial_2",
            "label": "2 Text"
          },
          {
            "type": "text",
            "id": "author_2",
            "label": "2 Author"
          },
          {
            "type": "product",
            "id": "product_2",
            "label": "Reviewed Product"
          },
          {
            "type": "range",
            "id": "rating_2",
            "label": "Reviews rating",
            "min": 0,
            "max": 5,
            "step": 1,
            "default": 5
          },
          {
            "type": "richtext",
            "id": "testimonial_3",
            "label": "3 Text"
          },
          {
            "type": "text",
            "id": "author_3",
            "label": "3 Author"
          },
          {
            "type": "product",
            "id": "product_3",
            "label": "Reviewed Product"
          },
          {
            "type": "range",
            "id": "rating_3",
            "label": "Reviews rating",
            "min": 0,
            "max": 5,
            "step": 1,
            "default": 5
          },
          {
            "type": "richtext",
            "id": "testimonial_4",
            "label": "4 Text"
          },
          {
            "type": "text",
            "id": "author_4",
            "label": "4 Author"
          },
          {
            "type": "product",
            "id": "product_4",
            "label": "Reviewed Product"
          },
          {
            "type": "range",
            "id": "rating_4",
            "label": "Reviews rating",
            "min": 0,
            "max": 5,
            "step": 1,
            "default": 5
          },
          {
            "type": "richtext",
            "id": "testimonial_5",
            "label": "5 Text"
          },
          {
            "type": "text",
            "id": "author_5",
            "label": "5 Author"
          },
          {
            "type": "product",
            "id": "product_5",
            "label": "Reviewed Product"
          },
          {
            "type": "range",
            "id": "rating_5",
            "label": "Reviews rating",
            "min": 0,
            "max": 5,
            "step": 1,
            "default": 5
          },
          {
            "type": "richtext",
            "id": "testimonial_6",
            "label": "6 Text"
          },
          {
            "type": "text",
            "id": "author_6",
            "label": "6 Author"
          },
          {
            "type": "product",
            "id": "product_6",
            "label": "Reviewed Product"
          },
          {
            "type": "range",
            "id": "rating_6",
            "label": "Reviews rating",
            "min": 0,
            "max": 5,
            "step": 1,
            "default": 5
          },
          {
            "type": "richtext",
            "id": "testimonial_7",
            "label": "7 Text"
          },
          {
            "type": "text",
            "id": "author_7",
            "label": "7 Author"
          },
          {
            "type": "product",
            "id": "product_7",
            "label": "Reviewed Product"
          },
          {
            "type": "range",
            "id": "rating_7",
            "label": "Reviews rating",
            "min": 0,
            "max": 5,
            "step": 1,
            "default": 5
          },
          {
            "type": "richtext",
            "id": "testimonial_8",
            "label": "8 Text"
          },
          {
            "type": "text",
            "id": "author_8",
            "label": "8 Author"
          },
          {
            "type": "product",
            "id": "product_8",
            "label": "Reviewed Product"
          },
          {
            "type": "range",
            "id": "rating_8",
            "label": "Reviews rating",
            "min": 0,
            "max": 5,
            "step": 1,
            "default": 5
          },
          {
            "type": "richtext",
            "id": "testimonial_9",
            "label": "9 Text"
          },
          {
            "type": "text",
            "id": "author_9",
            "label": "9 Author"
          },
          {
            "type": "product",
            "id": "product_9",
            "label": "Reviewed Product"
          },
          {
            "type": "range",
            "id": "rating_9",
            "label": "Reviews rating",
            "min": 0,
            "max": 5,
            "step": 1,
            "default": 5
          }
        ]
      },
      {
        "type": "testimonials-with-images",
        "name": "Testimonials with Images",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading"
          },   
          {
            "type": "richtext",
            "id": "text",
            "label": "Text"
          },
          {
            "type": "header",
            "content": "Testimonials"
          },
          {
            "type": "richtext",
            "id": "testimonial_1",
            "label": "1 Text"
          },
          {
            "type": "text",
            "id": "author_1",
            "label": "1 Author"
          },
          {
            "type": "text",
            "id": "author_details_1",
            "label": "1 Author Details"
          },
          {
            "type": "image_picker",
            "id": "image_1",
            "label": "1 Image"
          },
          {
            "type": "richtext",
            "id": "testimonial_2",
            "label": "2 Text"
          },
          {
            "type": "text",
            "id": "author_2",
            "label": "2 Author"
          },
          {
            "type": "text",
            "id": "author_details_2",
            "label": "2 Author Details"
          },
          {
            "type": "image_picker",
            "id": "image_2",
            "label": "2 Image"
          },
          {
            "type": "richtext",
            "id": "testimonial_3",
            "label": "3 Text"
          },
          {
            "type": "text",
            "id": "author_3",
            "label": "3 Author"
          },
          {
            "type": "text",
            "id": "author_details_3",
            "label": "3 Author Details"
          },
          {
            "type": "image_picker",
            "id": "image_3",
            "label": "3 Image"
          },
          {
            "type": "richtext",
            "id": "testimonial_4",
            "label": "4 Text"
          },
          {
            "type": "text",
            "id": "author_4",
            "label": "4 Author"
          },
          {
            "type": "text",
            "id": "author_details_4",
            "label": "4 Author Details"
          },
          {
            "type": "image_picker",
            "id": "image_4",
            "label": "4 Image"
          },
          {
            "type": "richtext",
            "id": "testimonial_5",
            "label": "5 Text"
          },
          {
            "type": "text",
            "id": "author_5",
            "label": "5 Author"
          },
          {
            "type": "text",
            "id": "author_details_5",
            "label": "5 Author Details"
          },
          {
            "type": "image_picker",
            "id": "image_5",
            "label": "5 Image"
          },
          {
            "type": "richtext",
            "id": "testimonial_6",
            "label": "6 Text"
          },
          {
            "type": "text",
            "id": "author_6",
            "label": "6 Author"
          },
          {
            "type": "text",
            "id": "author_details_6",
            "label": "6 Author Details"
          },
          {
            "type": "image_picker",
            "id": "image_6",
            "label": "6 Image"
          },
          {
            "type": "richtext",
            "id": "testimonial_7",
            "label": "7 Text"
          },
          {
            "type": "text",
            "id": "author_7",
            "label": "7 Author"
          },
          {
            "type": "text",
            "id": "author_details_7",
            "label": "7 Author Details"
          },
          {
            "type": "image_picker",
            "id": "image_7",
            "label": "7 Image"
          },
          {
            "type": "richtext",
            "id": "testimonial_8",
            "label": "8 Text"
          },
          {
            "type": "text",
            "id": "author_8",
            "label": "8 Author"
          },
          {
            "type": "text",
            "id": "author_details_8",
            "label": "8 Author Details"
          },
          {
            "type": "image_picker",
            "id": "image_8",
            "label": "8 Image"
          },
          {
            "type": "richtext",
            "id": "testimonial_9",
            "label": "9 Text"
          },
          {
            "type": "text",
            "id": "author_9",
            "label": "9 Author"
          },
          {
            "type": "text",
            "id": "author_details_9",
            "label": "9 Author Details"
          },
          {
            "type": "image_picker",
            "id": "image_9",
            "label": "9 Image"
          },
          {
            "type": "richtext",
            "id": "testimonial_10",
            "label": "10 Text"
          },
          {
            "type": "text",
            "id": "author_10",
            "label": "10 Author"
          },
          {
            "type": "text",
            "id": "author_details_10",
            "label": "10 Author Details"
          },
          {
            "type": "image_picker",
            "id": "image_10",
            "label": "10 Image"
          }
        ]
      },
      {
        "type": "logo-grid",
        "name": "Logo Grid",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading"
          },   
          {
            "type": "richtext",
            "id": "text",
            "label": "Text"
          },
          {
            "type": "image_picker",
            "id": "logo_image_1",
            "label": "1 Image"
          },
          {
            "type": "url",
            "id": "logo_link_1",
            "label": "1 Link"
          },
          {
            "type": "image_picker",
            "id": "logo_image_2",
            "label": "2 Image"
          },
          {
            "type": "url",
            "id": "logo_link_2",

            "label": "2 Link"
          },
          {
            "type": "image_picker",
            "id": "logo_image_3",
            "label": "3 Image"
          },
          {
            "type": "url",
            "id": "logo_link_3",
            "label": "3 Link"
          },
          {
            "type": "image_picker",
            "id": "logo_image_4",
            "label": "4 Image"
          },
          {
            "type": "url",
            "id": "logo_link_4",
            "label": "4 Link"
          },
          {
            "type": "image_picker",
            "id": "logo_image_5",
            "label": "5 Image"
          },
          {
            "type": "url",
            "id": "logo_link_5",
            "label": "5 Link"
          },
          {
            "type": "image_picker",
            "id": "logo_image_6",
            "label": "6 Image"
          },
          {
            "type": "url",
            "id": "logo_link_6",
            "label": "6 Link"
          },
          {
            "type": "image_picker",
            "id": "logo_image_7",
            "label": "7 Image"
          },
          {
            "type": "url",
            "id": "logo_link_7",
            "label": "7 Link"
          },
          {
            "type": "image_picker",
            "id": "logo_image_8",
            "label": "8 Image"
          },
          {
            "type": "url",
            "id": "logo_link_8",
            "label": "8 Link"
          },
          {
            "type": "image_picker",
            "id": "logo_image_9",
            "label": "9 Image"
          },
          {
            "type": "url",
            "id": "logo_link_9",
            "label": "9 Link"
          },
          {
            "type": "image_picker",
            "id": "logo_image_10",
            "label": "10 Image"
          },
          {
            "type": "url",
            "id": "logo_link_10",
            "label": "10 Link"
          }
        ]
      },
      {
        "type": "contact",
        "name": "Contact",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text"
          },
          {
            "type": "header",
            "content": "Phone"
          },
          {
            "type": "text",
            "id": "heading_phone",
            "label": "Heading"
          },
          {
            "type": "text",
            "id": "phone",
            "label": "Phone Number"
          },
          {
            "type": "header",
            "content": "Email"
          },
          {
            "type": "text",
            "id": "heading_email",
            "label": "Heading"
          },
          {
            "type": "text",
            "id": "email",
            "label": "Email"
          }
        ]
      },
      {
        "type": "columns-with-icons",
        "name": "Columns with Icons",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading"
          },
          {
            "type": "header",
            "content": "Columns"
          },
          {
            "type": "richtext",
            "id": "text_1",
            "label": "1 Text"
          },
          {
            "type": "text",
            "id": "icon_1",
            "label": "1 Icon SVG URL"
          },
          {
            "type": "richtext",
            "id": "text_2",
            "label": "2 Text"
          },
          {
            "type": "text",
            "id": "icon_2",
            "label": "2 Icon SVG URL"
          },
          {
            "type": "richtext",
            "id": "text_3",
            "label": "3 Text"
          },
          {
            "type": "text",
            "id": "icon_3",
            "label": "3 Icon SVG URL"
          }
        ]
      },
      {
        "type": "benefits-sina",
        "name": "Benefits-sina",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading"
          },
          {
            "type": "text",
            "id": "benefit_alt_1",
            "label": "Benefit 1"
          },
          {
            "type": "text",
            "id": "benefit_1_icon",
            "label": "Benefit 1 icon URL"
          },
          {
            "type": "text",
            "id": "benefit_alt_2",
            "label": "Benefit 2"
          },
          {
            "type": "text",
            "id": "benefit_2_icon",
            "label": "Benefit 2 icon URL"
          },
          {
            "type": "text",
            "id": "benefit_alt_3",
            "label": "Benefit 3"
          },
          {
            "type": "text",
            "id": "benefit_3_icon",
            "label": "Benefit 3 icon URL"
          },
          {
            "type": "text",
            "id": "benefit_alt_4",
            "label": "Benefit 4"
          },
          {
            "type": "text",
            "id": "benefit_4_icon",
            "label": "Benefit 4 icon URL"
          },
          {
            "type": "text",
            "id": "benefit_alt_5",
            "label": "Benefit 5"
          },
          {
            "type": "text",
            "id": "benefit_5_icon",
            "label": "Benefit 5 icon URL"
          },
          {
            "type": "text",
            "id": "benefit_alt_6",
            "label": "Benefit 6"
          },
          {
            "type": "text",
            "id": "benefit_6_icon",
            "label": "Benefit 6 icon URL"
          },
          {
            "type": "text",
            "id": "benefit_alt_7",
            "label": "Benefit 7"
          },
          {
            "type": "text",
            "id": "benefit_7_icon",
            "label": "Benefit 7 icon URL"
          },
          {
            "type": "text",
            "id": "benefit_alt_8",
            "label": "Benefit 8"
          },
          {
            "type": "text",
            "id": "benefit_8_icon",
            "label": "Benefit 8 icon URL"
          },
          {
            "type": "text",
            "id": "benefit_alt_9",
            "label": "Benefit 9"
          },
          {
            "type": "text",
            "id": "benefit_9_icon",
            "label": "Benefit 9 icon URL"
          },
          {
            "type": "text",
            "id": "benefit_alt_10",
            "label": "Benefit 10"
          },
          {
            "type": "text",
            "id": "benefit_10_icon",
            "label": "Benefit 10 icon URL"
          }
        ]
      },
      {
        "type": "logos",
        "name": "Logos",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading"
          },   
          {
            "type": "richtext",
            "id": "text",
            "label": "Text"
          },
          {
            "type": "html",
            "id": "logo_code_1",
            "label": "1 SVG Image Code"
          },
          {
            "type": "url",
            "id": "logo_link_1",
            "label": "1 Link"
          },
          {
            "type": "text",
            "id": "logo_title_1",
            "label": "1 Title"
          },
          {
            "type": "color",
            "id": "logo_color_1",
            "label": "1 Logo Color"
          },
          {
            "type": "color",
            "id": "logo_color_bg_1",
            "label": "1 Logo Background Color"
          },
          {
            "type": "html",
            "id": "logo_code_2",
            "label": "2 SVG Image Code"
          },
          {
            "type": "url",
            "id": "logo_link_2",
            "label": "2 Link"
          },
          {
            "type": "text",
            "id": "logo_title_2",
            "label": "2 Title"
          },
          {
            "type": "color",
            "id": "logo_color_2",
            "label": "2 Logo Color"
          },
          {
            "type": "color",
            "id": "logo_color_bg_2",
            "label": "2 Logo Background Color"
          },
          {
            "type": "html",
            "id": "logo_code_3",
            "label": "3 SVG Image Code"
          },
          {
            "type": "url",
            "id": "logo_link_3",
            "label": "3 Link"
          },
          {
            "type": "text",
            "id": "logo_title_3",
            "label": "3 Title"
          },
          {
            "type": "color",
            "id": "logo_color_3",
            "label": "3 Logo Color"
          },
          {
            "type": "color",
            "id": "logo_color_bg_3",
            "label": "3 Logo Background Color"
          },
          {
            "type": "html",
            "id": "logo_code_4",
            "label": "4 SVG Image Code"
          },
          {
            "type": "url",
            "id": "logo_link_4",
            "label": "4 Link"
          },
          {
            "type": "text",
            "id": "logo_title_4",
            "label": "4 Title"
          },
          {
            "type": "color",
            "id": "logo_color_4",
            "label": "4 Logo Color"
          },
          {
            "type": "color",
            "id": "logo_color_bg_4",
            "label": "4 Logo Background Color"
          },
          {
            "type": "html",
            "id": "logo_code_5",
            "label": "5 SVG Image Code"
          },
          {
            "type": "url",
            "id": "logo_link_5",
            "label": "5 Link"
          },
          {
            "type": "text",
            "id": "logo_title_5",
            "label": "5 Title"
          },
          {
            "type": "color",
            "id": "logo_color_5",
            "label": "5 Logo Color"
          },
          {
            "type": "color",
            "id": "logo_color_bg_5",
            "label": "5 Logo Background Color"
          },
          {
            "type": "html",
            "id": "logo_code_6",
            "label": "6 SVG Image Code"
          },
          {
            "type": "url",
            "id": "logo_link_6",
            "label": "6 Link"
          },
          {
            "type": "text",
            "id": "logo_title_6",
            "label": "6 Title"
          },
          {
            "type": "color",
            "id": "logo_color_6",
            "label": "6 Logo Color"
          },
          {
            "type": "color",
            "id": "logo_color_bg_6",
            "label": "6 Logo Background Color"
          }
        ]
      }
    ]
  }
{% endschema %}
